<form [formGroup]="stepperForm">
  <mat-horizontal-stepper linear #stepper>
    <!--     terminos y condiciones -->
    <mat-step [stepControl]="stepperForm.controls.step1" [editable]="false">
      <ng-template matStepLabel>Acepta las condiciones</ng-template>
      <mat-checkbox formControlName="step1"
        >He leído y acepto los
        <a
          href="https://www.smowltech.net/firma/conditions_GDPR_1_es.html"
          target="_blank"
          >términos y condiciones</a
        >.</mat-checkbox
      >
    </mat-step>

    <!--     acceso camara -->
    <mat-step [stepControl]="stepperForm.controls.step2" [editable]="false">
      <ng-template matStepLabel>Habilita la cámara</ng-template>
      <p>
        Al hacer click en el botón, deberás aceptar un diálogo emergente.
      </p>
      <button
        mat-flat-button
        type="button"
        class="button primary-button inverse-button center-block"
        (click)="getCamAccess()"
      >
        SOLICITAR ACCESO
      </button>
    </mat-step>

    <!--     registro facial-->
    <mat-step [stepControl]="stepperForm.controls.step3" [editable]="false">
      <ng-template matStepLabel>Hazte las fotos</ng-template>
      <app-picture-registration
        *ngIf="stepperForm.controls.step2.value"
        (complete)="stepperForm.controls.step3.setValue(true)"
      ></app-picture-registration>
    </mat-step>

    <!--    proceso completado -->
    <mat-step [editable]="false">
      <ng-template matStepLabel>¡Listo!</ng-template>
      <p class="margin-x">¡Enhorabuena! Tus datos ya estan en el sistema.</p>
    </mat-step>
  </mat-horizontal-stepper>
</form>
