<form [formGroup]="stepperForm">
  <mat-horizontal-stepper linear #stepper>
    <!-- aceptar condiciones -->
    <mat-step [stepControl]="stepperForm.controls.step1" [editable]="false">
      <ng-template matStepLabel i18n="etiqueta de uno de los pasos del registro"
        >Acepta las condiciones</ng-template
      >
      <mat-checkbox
        formControlName="step1"
        i18n="mensaje junto al checkbox para aceptar las condiciones"
        >He leído y acepto los
        <a
          href="https://www.smowltech.net/firma/conditions_GDPR_1_es.html"
          target="_blank"
          >términos y condiciones</a
        >.</mat-checkbox
      >
    </mat-step>

    <!-- habilitar camara -->
    <mat-step [stepControl]="stepperForm.controls.step2" [editable]="false">
      <ng-template matStepLabe i18n="etiqueta de uno de los pasos del registro"
        >Habilita la cámara</ng-template
      >
      <p i18n="mensaje instructivo para obtener acceso de la cámara">
        Al hacer click en el botón, deberás aceptar un diálogo emergente.
      </p>
      <button
        mat-flat-button
        type="button"
        class="button primary-button inverse-button center-block"
        (click)="getCamAccess()"
        i18n="botón para solicitar acceso a la cámara"
      >
        SOLICITAR ACCESO
      </button>
    </mat-step>

    <!-- hacer fotos -->
    <mat-step
      #camStep
      [stepControl]="stepperForm.controls.step3"
      [editable]="state !== 'success'"
    >
      <ng-template matStepLabel i18n="etiqueta de uno de los pasos del registro"
        >Hazte las fotos</ng-template
      >
      <app-picture-registration
        *ngIf="stepperForm.controls.step2.value"
        (complete)="
          this.images = $event; stepperForm.controls.step3.setValue(true)
        "
      ></app-picture-registration>
    </mat-step>

    <!-- confirmar fotos -->
    <mat-step [editable]="false">
      <ng-template matStepLabel i18n="etiqueta de uno de los pasos del registro"
        >Confirma</ng-template
      >
      <ng-container [ngSwitch]="state">
        <app-gallery *ngSwitchCase="'default'" [images]="images"></app-gallery>
        <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>
        <div *ngSwitchCase="'error'">
          <h3
            id="error-message"
            i18n="encabezado del mensaje de error en el registro"
          >
            Algo ha ido mal con tu registro. Por favor, repítelo.
          </h3>
          <ul>
            <li i18n="recomendación para que el registro sea exitoso">
              Asegúrate de que apareces centrado en el marco y mirándo a la
              cámara.
            </li>
            <li i18n="recomendación para que el registro sea exitoso">
              Procura de que tu cara se vea claramente y que iluminación sea
              adecuada.
            </li>
            <li i18n="recomendación para que el registro sea exitoso">
              Evita usar accesorios que cubran tu cara y cabeza.
            </li>
            <li i18n="recomendación para que el registro sea exitoso">
              Debes estar sólo en las imágenes.
            </li>
          </ul>
        </div>
        <div *ngSwitchCase="'success'" id="success">
          <h2 i18n="encabezado del mensaje de éxito en el registro">
            ¡Enhorabuena! Ya has terminado.
          </h2>
          <p i18n="mensaje de éxito en el registro">
            El proceso de registro se ha completado correctamente y tus datos ya
            están guardados en el sistema.
          </p>
        </div>
      </ng-container>
      <div id="buttons" *ngIf="state === 'default' || state === 'error'">
        <button
          matStepperPrevious
          type="button"
          mat-stroked-button
          class="button stroked-button inverse-button"
          i18n="botón para repetir las fotos"
        >
          REPETIR FOTOS
        </button>
        <button
          *ngIf="state === 'default'"
          mat-flat-button
          color="accent"
          type="button"
          class="button primary-button inverse-button"
          i18n="botón para enviar y validar las fotos"
          (click)="validate()"
        >
          ENVIAR
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
