canvas {
  display: none;
}

video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9997;
  width: 300px;
  height: 225px;
  border-radius: 8px;
}

#wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#video-wrapper {
  position: relative;
  width: 300px;
  height: 225px;
  border-radius: 8px;
  margin: 24px;
  overflow: visible;
  background-color: black;
}

#chip {
  width: 56px;
  position: absolute;
  top: -14px;
  margin: auto;
  left: 0;
  right: 0;
  padding: 7px 12px;
  border-radius: 16px;
  background-color: white;
  color: #000078;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  height: 32px;
  line-height: 24px;
  box-sizing: border-box;
  z-index: 9998;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}

#chip-bar {
  position: center;
  width: 4px;
}

.chip-number {
  width: 4px;
}

#chip > * {
  /*pointer-events: none;*/
}

#camera-button {
  position: absolute;
  bottom: -26px;
  margin-left: calc(50% - 28px);
  margin-right: calc(50% - 28px);
  background-color: #38ff90;
  color: #000078;
  z-index: 9998;
}

::ng-deep #camera-button * {
  z-index: 9999 !important;
}
