<div id="wrapper">
  <div id="video-wrapper">
    <div id="chip">
      <div class="chip-number">{{ pictures.length }}</div>
      <div id="chip-bar">/</div>
      <div>{{ numberOfPics }}</div>
    </div>
    <video #player autoplay></video>
    <button
      mat-fab
      id="camera-button"
      color="accent"
      (click)="capture()"
      [disabled]="loading || pictures.length >= numberOfPics"
    >
      <mat-icon>camera_alt</mat-icon>
    </button>
  </div>
</div>
<canvas #canvas width="320" height="240"></canvas>
