:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.img-wrapper {
  margin: 16px;
  flex-shrink: 1;
  object-fit: contain;
}

img {
  max-width: 100%;
  min-width: 0;
  border-radius: 6px;
}
