#stepper-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

#stepper-wrapper > app-stepper {
  display: block;
}

#top-bar-wrapper {
  /*background-color: rgba(255, 255, 255, 0.95);*/
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

#blue {
  background: #73edff;
  flex-grow: 1;
}

#white {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

#registration-wrapper {
  position: relative;
  margin-top: 72px;
  /*background: #000078 url('/assets/images/uoc-fondo.jpg') fixed center;*/
  background: #000078 url('/assets/images/uoc-fondo.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 32px 0;
}

#locale {
  margin: 0 24px;
  white-space: nowrap;
}

#logo {
  height: 100%;
}

#top-bar {
  height: 72px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#header {
  color: #000078;
  margin-left: 9px;
  font-family: UOCSerif, serif;
  font-size: 32px;
  white-space: nowrap;
  display: block;
  width: 100%;
  line-height: 30px;
  font-weight: normal;
}

#security-privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#spacer {
  min-width: 64px;
  width: 64px;
}

#title {
  padding: 24px 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

app-section {
  max-width: 800px;
  margin: 48px auto;
}

#security-privacy-wrapper {
  background-color: #f0f0f0;
  margin-top: 32px;
}

.locale-separator {
  color: #010179;
}

.locale-button {
  min-width: 0;
  font-size: 22px;
  text-decoration: none;
  color: #010179;
  transition: 0.1s ease color;
}

.locale-button:hover {
  color: #73edff;
}

::ng-deep #security-privacy #title {
  border-top: none;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #38ff90;
}

@media (max-width: 800px) {
  #top-bar,
  #security-privacy,
  app-section,
  #stepper-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 801px) and (max-width: 1600px) {
  #security-privacy,
  app-section,
  #stepper-wrapper {
    max-width: 800px;
    width: 800px;
  }
  #top-bar {
    width: 992px;
  }
}

@media (min-width: 1601px) {
  #security-privacy,
  app-section,
  #stepper-wrapper {
    max-width: 50%;
    width: 50%;
  }
  #top-bar {
    width: calc(50% + 192px);
  }
}

/* BUTTONS */

::ng-deep button.button {
  display: block;
}

::ng-deep button.button span {
  font-family: UOCSans, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 39px;
}

::ng-deep button.button mat-icon {
  line-height: 24px;
  margin-right: 5px;
}

::ng-deep
button[mat-flat-button].button.mat-flat-button.primary-button.inverse-button {
  background-color: #000078;
}

::ng-deep
button[mat-flat-button].button.mat-flat-button.primary-button
span {
  color: white;
  font-family: UOCSans, sans-serif;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 39px;
}

::ng-deep
  button[mat-flat-button].button.mat-flat-button.primary-button.inverse-button {
  background-color: #38ff90;
}

::ng-deep
  button[mat-flat-button].button.mat-flat-button.primary-button.inverse-button
  span {
  color: #000078;
  font-family: UOCSans, sans-serif;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 39px;
}

::ng-deep
  button[mat-stroked-button].button.mat-stroked-button.stroked-button.inverse-button {
  border-color: white;
}

::ng-deep
  button[mat-stroked-button].button.mat-stroked-button.stroked-button.inverse-button
  span {
  color: white;
  font-family: UOCSans, sans-serif;
  font-weight: bold !important;
  font-size: 18px;
  line-height: 39px;
}
