:host {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#stepper-wrapper {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  /*flex-shrink: 1;*/
  /*background-color: white;*/
  margin-left: auto;
  margin-right: auto;
  /*border-left: 1px solid lightgrey;*/
  /*min-height: 100%;*/
  /*overflow-x: auto;*/
  /*background-color: #72ebfe*/
}

#stepper-wrapper > app-stepper {
  display: block;
  /*background-color: #72ebfe;*/
}

#registration-wrapper {
  background: #000078 url("/assets/uoc-bg-edited.png") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*background-op*/
}

#registration-wrapper mat-divider {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  border-color: #38ff90;
}

#logo {
  width: 200px;
  display: block;
  margin: 16px 0;
}

#logo-wrapper {
  height: 96px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#header {
  /*font-family: Montserrat, sans-serif;*/
  color: #010179;
  margin-left: 32px;
}

#left {
  /*background-color: rgb(247, 247, 247);*/
  background: white;
  flex-grow: 1;
  min-height: 100%;
  overflow-x: auto;
}

#security-privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

mat-divider {
  border-top: 2px solid #73edff;
  border-bottom: 2px solid #73edff;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

#spacer {
  min-width: 32px;
  width: 32px;
}

#registration-wrapper {
  background-color: #010179;
  /*height: 601px;*/
}

#title {
  padding: 32px 0;
  margin: 0;
  color: white;
  background-color: transparent;
  /*font-family: Montserrat, OpenSans, Roboto, "Helvetica Neue", sans-serif;*/
  /*color: #72ebfe;*/
}

app-section {
  margin-bottom: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#security-privacy app-section {
  /*max-width: 400px;*/
  /*margin: 16px;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
}
