:host {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#stepper-wrapper {
  width: 800px;
  min-width: 800px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0;
}

#stepper-wrapper > app-stepper {
  display: block;
}

#registration-wrapper {
  background: #000078 url("/assets/uoc-bg-edited.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

#registration-wrapper mat-divider {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  border-color: #73edff;
}

#logo {
  height: 56px;
  display: block;
  margin: 8px 0;
}

#logo-wrapper {
  height: 56px;
  margin: 8px auto;
  max-width: 800px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
}

#header {
  color: #000078;
  margin-left: 8px;
  font-family: Trola, serif;
  /*font-weight: 400;*/
  font-size: 32px;
  border-top: 4px solid #73edff;
  border-bottom: 4px solid #73edff;
  display: block;
  width: 100%;
  padding-bottom: 2px;
  line-height: 46px;
}

#left {
  flex-grow: 1;
  min-height: 100%;
  overflow-x: auto;
}

#security-privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  padding-top: 24px;
}

mat-divider {
  /*border-top: 2px solid #000078;*/
  /*border-bottom: 2px solid #000078;*/
  /*width: 800px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}

#spacer {
  min-width: 32px;
  width: 32px;
}


#title {
  padding: 24px 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

app-section {
  /*margin-bottom: 32px;*/
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#security-privacy-wrapper {
  background-color: #f0f0f0;
  margin-top: 32px;
}

/*::ng-deep app-section #title {*/
/*  border-top: 4px solid #73edff;*/
/*}*/

::ng-deep #security-privacy #title {
  border-top: none;
}
