#stepper-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

#stepper-wrapper > app-stepper {
  display: block;
}

#top-bar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 9999;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

#blue {
  background: #73edff;
  flex-grow: 1;
}

#white {
  background: white;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}

#registration-wrapper {
  margin-top: 72px;
  background: #000078 url('/assets/images/uoc-fondo.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 32px 0;
  /*height: 600px;*/
}

div.top-bar-wrapper {
  background: #73edff;
}

#registration-wrapper mat-divider {
  margin-left: auto;
  margin-right: auto;
  height: 0;
  border-color: #73edff;
}

#locale {
  margin: 0 24px;
  white-space: nowrap;
}

#logo {
  height: 100%;
}

#top-bar {
  height: 72px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
}

#header {
  color: #000078;
  margin-left: 9px;
  font-family: UOCSerif, serif;
  font-size: 32px;
  white-space: nowrap;
  display: block;
  width: 100%;
  line-height: 30px;
}

#security-privacy {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#spacer {
  min-width: 64px;
  width: 64px;
}

#title {
  padding: 24px 0;
  margin: 0;
  color: white;
  background-color: transparent;
}

app-section {
  max-width: 800px;
  margin: 64px auto;
}

#security-privacy-wrapper {
  background-color: #f0f0f0;
  margin-top: 32px;
}

.locale-separator {
  color: #010179;
}

.locale-button {
  /*font-weight: bold;*/
  min-width: 0;
  /*padding: 0 4px;*/
  /*margin: 4px;*/
  font-size: 22px;
  text-decoration: none;
  color: #010179;
  transition: 0.2s ease color;
}

.locale-button:hover {
  color: #38ff90;
}

::ng-deep #security-privacy #title {
  border-top: none;
}

@media (max-width: 800px) {
  #top-bar,
  #security-privacy,
  app-section,
  #registration-wrapper mat-divider,
  #stepper-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (min-width: 801px) and (max-width: 1600px) {
  #security-privacy,
  app-section,
  #registration-wrapper mat-divider,
  #stepper-wrapper {
    max-width: 800px;
    width: 800px;
  }
  #top-bar {
    width: 992px;
  }
}

@media (min-width: 1601px) {
  #security-privacy,
  app-section,
  #registration-wrapper mat-divider,
  #stepper-wrapper {
    max-width: 50%;
    width: 50%;
  }
  #top-bar {
    width: calc(50% + 192px);
  }
}
