:host {
  display: flex;
  align-items: center;
}

img {
  width: calc(50% - 16px);
}

#title {
  color: #000078;
  border-top: 4px solid #73edff;
  line-height: 36px;
  margin-bottom: 0;
}

p {
  color: #000078;
}

#spacer {
  min-width: 64px;
  width: 64px;
}
