:host {
  display: flex;
  /*flex-flow: row nowrap;*/
  align-items: center;
  /*margin: 16px 32px;*/
}

img {
  width: calc(50% - 16px);
}

#title {
  /*font-family: Montserrat, sans-serif;*/
  color: #010179;
  /*color: #2e3454;*/
  border-top: 4px solid #73edff;
  line-height: 36px;
  margin-bottom: 0;
}

p {
  color: #010179;
}

#spacer {
  min-width: 32px;
  width: 32px;
}
